*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
} */
/* 
nav .menu-icon{
    display: none;
}

.logo a{
    font-family: cursive;
    color: blueviolet;
    background-color: black;
    padding: .5rem;
}

.navigation-links,
.navigation-links li a,
.navigation-links li
{
    display: flex;
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    list-style: none;
}

input{
    height: 1.5rem;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
}

button{
    height: 1.5rem;
    width: 4rem;
    background-color: grey;
    border: none;
    border-radius: 5px;
} */


button:hover
{
    background-color: black;
    color: aliceblue;
}

button:focus
{
    background-color: brown;
    color: aliceblue;
}

.navigation-links li a:focus{
    background-color: blueviolet;
    color: beige;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: brown;
    text-decoration-thickness: 3px;
}

.gbox{
    background-color: red;
    color: white;
    margin: .3rem;
    height: 4rem;
}

.fbox{
    background-color: blue;
    color: white;
    margin: .3rem;
    height: 4rem;
}

.flexbox{
    display: flex;
    justify-content: space-around;
}

.gridbox{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

@media (max-width: 700px) {
    body {
      background-color: lightgreen;
    }

    /* nav .menu-icon{
        display: block;
        border: 3px solid #000;
        padding: 5px;
        border-radius: 7px;
    }

    .nav-div{
        display: none;
    } */
  }